/* CORE STYLES */
html, body {
	font-family: 'Roboto', sans-serif;
	background-color: slategray;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	height: 100vh;
	font-size: calc(18px * 1.1);
}

h1,h2 {
	font-weight: normal;
}

div#root {
	height: 100%;
}

.app {
	background-color: white;
	height: 100%;
}

/* HEADER */
header {
	background-color: #6EB150;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
}

.title {
	margin: 0;
	color: #fff;
	font-size: 1.33rem;
}

/* ICONS */
.feather {
  width: 32px;
  height: 32px;
  stroke: currentColor;
  color: white;
  stroke-width: 1.2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.log-out {
	margin-left: 1rem;
}

/* LOGIN */
.loginScreen {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: calc(100vh - 3rem);
	/* sort of hackish but works, better solution is using flex all over app layout (vertical) */
}

.loginLabel {
	margin: 0;
	margin-bottom: 1rem;
	opacity: 0.87;
	font-size: 1.33rem;
}

.loginControls {
	display: flex;
	justify-content: center;
}

#username {
	font-size: 1rem;
	border: 1px solid #000;
	padding: 0.5rem;
	width: 90%;
	max-width: 240px;
	margin-right: 0.5rem;
}

.login-button {
	opacity: 0.74;
	width: 40px;
	height: 40px;
}

/* BODY */
.content {
	margin: 0 auto;
	/* padding: 0; */
	max-width: 800px;
}

.todo {
	padding: 0.5rem;
	/* font-size: 1.5rem; */
	display: flex;
	align-items: center;
	border-bottom: 1px solid lightgray;
}

.todoCheck {
	width: 1.5rem;
	height: 1.5rem;
}

.todoText {
	margin-left: 1rem;
}

.todoChecked {
	text-decoration: line-through;
	font-style: italic;
	opacity: 0.54;
}

.labelFinished {
	margin-top: 2rem;
	font-size: 1.2rem;
	padding-left: 0.5rem;
}

/* footer new todo */
.newTodo {
	position: fixed;
	bottom: 0;
	border: 1px solid #bbb;
    width: calc(100% - 2rem);
	max-width: 800px;
	display: flex;
	padding: 0.5rem 1rem;
}

.right-arrow {
	color: black;
	opacity: 0.87;
}

#todoText {
	font-size: 1rem;
	flex-grow: 100;
	border: 0;
}

input:focus {
	border: 0;
	outline: none;
}